@model int
@{
    Layout = null;
}
<div class="btn-group" role="group">
    <td style="width:auto" class="float-right">
        <a type="button" class="btn btn-primary" href="@Url.Action("Edit/"+ Model)">
            <i class="fa fa-edit"></i>
        </a>
        <a type="button" class="btn btn-success" href="@Url.Action("Details/"+ Model)">
            <i class="fa fa-list-alt"></i>
        </a>
        <a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+ Model)">
            <i class="fa fa-trash-alt"></i>
        </a>
    </td>
</div>
